@inherits LayoutComponentBase

<div class="page-customer">

      <AuthorizeView>
        <Authorized>
          <div>
              <NavMenuCustomer />
          </div>
        </Authorized>
      </AuthorizeView>

    <div class="content-customer-container">
        <div>
            @Body
        </div>
    </div>
</div>