<div class="position-absolute w-100 h-100 z-1 @showClass" style="background: rgba(0, 0, 0, .75); top: 0; left: 0;"></div>

<section class="z-2 position-absolute p-4 rounded-2 @showClass" style="transform: translate(-50%, -50%); top: 50%; left: 50%; background: #F8F7F7;">
    @ChildContent
</section>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public bool Open { get; set; } = false;

    private string? showClass => Open ? "d-block" : "d-none";
}