@layout CustomerLayout
@attribute [Route(Routes.Customer.TermsAndConditions)]

<div style="margin: 40px auto 0; background: #F8F7F7; border-radius: 20px; padding: 20px;">
    <h1 style="text-align: center; color: #AD1917;">Terminos y condiciones convocatoria</h1>

    <p>Las condiciones de participación para los clientes serán las siguientes:</p>

    <ol>
        <li>Publico mayor de 18 años</li>
        <li>Promoción apegada al artículo 46 de la Ley Federal del Consumidor, cumpliendo lo establecido en el mismo.</li>
        <li>El litro de gasolina regular tendrá un valor de 10 puntos y el litro de gasolina optima y diésel se premiará con 15 puntos, conforme a los litros que cargue serán los puntos reflejados en su ticket.</li>
        <li>Cada ticket tendrá impreso el código con el que podrán crear su usuario en la página web <a href="www.grupogasolinerorivas.com.mx">www.grupogasolinerorivas.com.mx</a>, donde se registrará el folio de su ticket e ir acumulando puntos para el canjeo de estos por regalos.</li>
        <li>Los tickets tendrán vigencia de 48 horas posteriores a la carga para ser registrados.</li>
        <li>El ticket para registro de puntos se dará solo al momento de la carga de gasolina.</li>
        <li>La convocatoria aplica para todas las sucursales de Grupo Gasolinero Rivas y Servicio Rivas de Valparaíso:
            <ul>
                <li>GGR001 Grupo Gasolinero Rivas SA de CV. Carretera a Sauceda de la Borda #3, Colonia la Fé, Guadalupe, Zacatecas.</li>
                <li>GGR002 Grupo Gasolinero Rivas SA de CV. Calzada Solidaridad #327, Colonia Lomas de Galicia, Guadalupe, Zacatecas.</li>
                <li>GGR003 Grupo Gasolinero Rivas SA de CV. Calzada Luis Moya #511, Zacatecas, Zacatecas</li>
                <li>GGR004 Grupo Gasolinero Rivas SA de CV Carretera al Orito #110, s/c, Zacatecas, Zacatecas</li>
                <li>GGR005 Grupo Gasolinero Rivas SA de CV. Riveras del Rio # 104, Colonia Ranchito de la Santa Cruz, Valparaíso, Zacatecas.</li>
                <li>Servicio Rivas de Valparaíso SA de CV. Confederación Nacional Campesina #152, Colonia México, Valparaíso, Zacatecas.</li>
            </ul>
        </li>
        <li>Los puntos solo podrá cambiarlos el titular de la cuenta registrada, son intransferibles, y se solicitará identificación oficial.</li>
        <li>Los obsequios se entregarán en las sucursales antes convenidas en las bases.</li>
        <li>Los regalos van a variar de acuerdo a los puntos acumulados, preferencias de los clientes y existencia de los mismos.</li>
        <li>La campaña será aplicable a partir del 11 de septiembre del año en curso, y hasta agotar existencias.</li>
        <li>Cada que los puntos sean canjeados por un regalo, estos serán restados de la cuenta del cliente.</li>
        <li>Los puntos tendrán vigencia de 120 días a partir del primer registro de puntos en la página, esto con el fin de lograr una participación continua.</li>
        <li>No habrá límite de regalos por cliente, mientras tenga los puntos acumulados para adquirirlo.</li>
        <li>El puntaje mínimo para canje de regalo será de 1430 y 6360 el máximo de puntos</li>
        <li>El responsable de entregar el obsequio deberá revisar con el cliente el producto, que se encuentre en buen estado antes de salir de gasolinera, una vez que sale el mismo no se aceptan cambios o devoluciones.</li>
    </ol>

</div>